<!-- DOCTYPE html-->
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="stylesheets/about-style.css">
  </head>
  <center><body id="background">
    <h1>About The Developpers</h1>
    <div id="cameron">
      <img src="images/cameron_pic.jpg" id="cameron-pic" alt="Cameron Picture" width="250" height="250">
    <h3>Cameron</h3>
      <p> Cameron is awesome!</p>
    </div>
    <div id="manny">
      <img src="images/logo.png" id="logo" alt="Logo" width="250" height="250">
    <h3>Manny</h3>
      <p>Manny is amazing!</p>
    </div>
    <div id="jackie">
      <img src="images/jackie_pic.jpg" id="jackie-pic" alt="Jackie Picture" width="250" height="250">
    <h3> Jackie</h3>
      <p>Jackie is cool!</p>
    </div>
  </body></center>
</html>
