<!--DOCTYPE html-->
<html>
<head>
  <!-- Google Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Droid+Serif:700' rel='stylesheet' type='text/css'>
  <!-- End -->
  <!-- CSS Files -->
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
  <!--End -->
  <title>'Lax Lounge</title>
</head>
<body id="background">
  <p id="top-head">Welcome {{user}}, to The</p>
  <div id="path-options">
    <img src="images/logo.png" id="logo" alt="Logo" width="400" height="500">
    <p id="bottom-head">Select Your Path</p>
    <form id="nav_bar">
      <input type="submit" class="media_button" value="Music" formaction="/music">
      <input type="submit" class="media_button" value="Videos" formaction="/video">
      <input type="submit" class="media_button" value="Relax" formaction="/relax">
    </form>
  <div>
</body>
</html>
