<!--DOCTYPE html-->
<html>
<head>
  <!-- Google Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Droid+Serif:700' rel='stylesheet' type='text/css'>
  <!-- End -->
  <!-- CSS Files -->
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
  <!--End -->
  <title>'Lax Lounge</title>
</head>
<body>
  <p id="top-head">Select A Path</p>
  <div id="path-options">
    <form id="button1"><input type="submit" class="media_button" value="Music" formaction="/music"></form>
    <img src="images/logo.png" id="logo2" alt="Logo" width="400" height="500">
    <form id="button2"><input type="submit" class="media_button" value="Videos" formaction="/video"></form>
    <form id="button3"><input type="submit" class="media_button" value="Gifs" formaction="#"></form>
  <div>
</body>
</html>
