<!--DOCTYPE html-->
<html>
<head>
  <!-- Google Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Droid+Serif:700' rel='stylesheet' type='text/css'>
  <!-- End -->
  <!-- CSS Files -->
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
  <!-- End -->
  <title>'Lax Lounge</title>
</head>
<center><body>
  <p id="top-head">Welcome to The</p>
  <img src="images/logo.png" id="logo" alt="Logo" width="400" height="500">
  <form><input type="submit" id="home_button" value="Begin Relaxation" formaction="/home"></form>
</body></center>
</html>
