<!--DOCTYPE html-->
<html>
<head>
    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:700' rel='stylesheet' type='text/css'>
    <!-- End -->
  <link rel="stylesheet" type="text/css" href="stylesheets/music-style.css">
  <title>'Lax Lounge</title>
</head>
<body>
  <div>
  <img src="images/logo2.png" id="logo" alt="Logo" width="125" height="125"><h1>'Lax Lounge</h1>
  </div>
</body>
<center><body>
  <h2>Find a playlist that fits your mood!</h2>
  <form method="get">
    <div id="mood_option"><h3>Mood: <select name="mood">
      <option value="Happy">Happy</option>
      <option value="Sad">Sad</option>
      <option value="Angry">Angry</option>
      <option value="Chilled">Chilled</option>
    </select></h3></div>
    <div id="genre_option"><h3>Genre: <select name="genre">
      <option value="Pop">Pop</option>
      <option value="Hip-Hop">Hip-Hop</option>
      <option value="Punk">Punk</option>
      <option value="Alternative">Alternative</option>
    </select></h3></div>
    <input type="submit" value="Submit" name="submit_button">
  </form>
</body></center>
</html>
