<!--DOCTYPE html-->
<html>
<head>
  <title>'Lax Lounge</title>
</head>
<center><body>
  <h2>Find a playlist that fits your mood!</h2>
  <form method="post">
    <div id="mood_option"><h3>Mood: <select name="mood">
      <option value="happy">Happy</option>
      <option value="sad">Sad</option>
      <option value="mad">Mad</option>
      <option value="chilled">Chilled</option>
    </select></h3></div>
    <div id="genre_option"><h3>Genre: <select name="genre">
      <option value="pop">Pop</option>
      <option value="pop">Hip-Hop</option>
      <option value="pop">Punk</option>
      <option value="pop">Alternative</option>
    </select></h3></div>
    <input type="submit" value="Submit" name="submit_button">
  </form>
</body></center>
</html>
