<!--DOCTYPE html-->
<html>
<head>
  <title>'Lax Lounge</title>
</head>
<center><body>
  <h2>Find a playlist that fits your mood!</h2>
  <form method="get">
    <div id="mood_option"><h3>Mood: <select name="mood">
      <option value="happy">Happy</option>
      <option value="sad">Sad</option>
      <option value="Angry">Angry</option>
      <option value="Chilled">Chilled</option>
    </select></h3></div>
    <div id="genre_option"><h3>Genre: <select name="genre">
      <option value="Pop">Pop</option>
      <option value="Hip-Hop">Hip-Hop</option>
      <option value="Punk">Punk</option>
      <option value="Alternative">Alternative</option>
    </select></h3></div>
    <input type="submit" value="Submit" name="submit_button">
  </form>
</body></center>
</html>
