<!--DOCTYPE html-->
<html>
<head>
  <!-- Google Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Cinzel:700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Droid+Serif:700' rel='stylesheet' type='text/css'>
  <!-- End -->
  <!-- CSS Files -->
  <link rel="stylesheet" type="text/css" href="stylesheets/relax-style.css">
  <!--End -->
  <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src ="js/script.js"></script>
  <!-- End -->
  <title>'Lax Lounge</title>
</head>
<body id="background">
  <h1>Buddha Will Take You Home</h1>
  <a href="/"><img src="images/logo2.png" id="logo" alt="Logo" width="425" height="500"></a>
  <div id="relaxing-noise">
    <div id="cp_widget_5c695355-93b3-4122-b314-022020b2d95f">...</div><script type="text/javascript">
    var cpo = []; cpo["_object"] ="cp_widget_5c695355-93b3-4122-b314-022020b2d95f"; cpo["_fid"] = "AoGAxwspy23I";
    var _cpmp = _cpmp || []; _cpmp.push(cpo);
    (function() { var cp = document.createElement("script"); cp.type = "text/javascript";
    cp.async = true; cp.src = "//www.cincopa.com/media-platform/runtime/libasync.js";
    var c = document.getElementsByTagName("script")[0];
    c.parentNode.insertBefore(cp, c); })(); </script><noscript>Powered by Cincopa <a href='http://www.cincopa.com/video-hosting'>Video Hosting for Business</a> solution.<span>Relaxing Noise</span><span>Soothing sounds for those looking to be calmed.</span></noscript>
  </div>
</body>
</html>
