<!--DOCTYPE html-->
<html>
<head>
  <title>'Lax Lounge</title>
</head>
<center><body>
  <h2>Find a playlist that fits your mood!</h2>
  <form method="get">
    <h3>Video: <select name="keyword">
      <option value="funny">Funny</option>
      <option value="intriguing">Intriguing</option>
      <option value="relaxing">Relaxing</option>
      <option value="educational">Educational</option>
      <option value="ted_talk">Ted Talk</option>
      <option value="fails">Fails</option>
    </select></h3>
    <input type="submit" value="Submit" name="submit_button">
  </form>
</body></center>
</html>
