<!--DOCTYPE html-->
<html>
<head>
    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:700' rel='stylesheet' type='text/css'>
    <!-- End -->
  <link rel="stylesheet" type="text/css" href="stylesheets/video-style.css">
  <title>'Lax Lounge</title>
</head>
<body id="background">
  <div id="logo-head">
  <a href="/"><img src="images/logo2.png" id="logo" alt="Logo" width="125" height="125"></a>
    <form>
      <input type="submit" id="relax_button" class="nav_bar" value="Relax" formaction="/relax">
      <input type="submit" class="nav_bar" value="Music" formaction="/music">
    </form>
    <h1>'Lax Lounge</h1>
  </div>
  <div id="video-search">
  <p id="search-head">Find some videos<br>that fit your mood!</p>
  <form method="get">
    <h3>Video: <select name="keyword">
      <option value="funny">Funny</option>
      <option value="fails">Fails</option>
      <option value="intriguing">Intriguing</option>
      <option value="educational">Educational</option>
      <option value="ted_talk">Ted Talk</option>
      <option value="relaxing">Relaxing</option>
    </select></h3>
    <input type="submit" id="search-button" value="Find Videos" name="submit_button">
  </form>
</div>
<div id="search-results">
  YouTube Produced Videos
</div>
</body>
</html>
